@charset "UTF-8";
/*----------Pagina--------*/
html {
  font-size: 62.5%; }

body {
  background-color: blanchedalmond; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*--------Formatos letras generales--------*/
h2 {
  color: #232020;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1400;
  text-align: center; }

h3 {
  color: #ff920f;
  font-size: 3rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
  text-align: center; }

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 2rem; }

a:hover {
  text-decoration: none;
  color: #ff920f; }

/*--------Page 404--------*/
.titulo {
  text-align: center;
  font-size: 3rem; }

.img404 {
  display: block;
  margin: auto; }

/*------Header-------*/
.header {
  overflow: hidden;
  background: #232020;
  background: linear-gradient(180deg, #232020 89%, blanchedalmond 97%);
  padding: 3rem;
  display: flex;
  justify-content: center;
  justify-items: center; }

.header a {
  font-size: 1.8rem;
  color: #ff920f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block; }

.header a:hover {
  color: #ffebcd; }

.dropdown-formato {
  background-color: #ff920f;
  border-radius: 1rem;
  text-decoration: none; }

.dropdown-menu a {
  color: #232020;
  text-decoration: none; }

.dropdown-menu a:hover {
  color: #ff920f; }

.active {
  color: blanchedalmond; }

.dropdown-item:hover {
  background-color: blanchedalmond; }

.navbar-toggler {
  background-color: #ff920f; }

/*------Footer-------*/
footer {
  background: blanchedalmond;
  background: linear-gradient(180deg, blanchedalmond 3%, #232020 11%);
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, auto); }

/*--Redes--*/
.footer__redes {
  grid-column: 1;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.fa {
  padding: 20px;
  font-size: 3rem;
  width: 100%;
  max-width: 5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; }

.fa:hover {
  opacity: 0.6;
  color: #232020; }

.fa-twitter {
  background: #ff920f;
  color: white; }

.fa-facebook {
  background: #ff920f;
  color: white; }

.fa-instagram {
  background: #ff920f;
  color: white; }

/*--Seguinos--*/
.footer__seguinos {
  grid-column: 2;
  padding: 1rem 0;
  display: grid;
  grid-template-rows: repeat(3, auto); }

.footer__seguinos--parrafo {
  color: blanchedalmond;
  text-align: center; }

.footer__seguinos--email {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }

.footer__seguinos--form {
  display: flex;
  justify-content: center;
  align-items: center; }

/*--Contacto--*/
.footer__contacto {
  grid-column: 3;
  padding: 1rem 0;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.footer__contacto form {
  display: grid;
  grid-template-rows: repeat(3, 4rem);
  grid-template-columns: auto auto;
  align-content: center;
  grid-gap: 0.5rem; }

.footer__contacto #nombre {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }

.footer__contacto #emailContacto {
  grid-row: 2/3;
  grid-column: 1/2;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }

.footer__contacto textarea {
  grid-row: 1/4;
  grid-column: 2;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }

.footer__contacto button {
  grid-row: 3/4;
  grid-column: 1/2; }

.boton {
  padding: 0.4rem;
  border-color: #232020;
  background-color: #ff920f;
  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.7rem; }

.boton:hover {
  border-color: white;
  color: white;
  background-color: black; }

/*----Formato pagina tienda----*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center; }

.contenidosImagen {
  text-align: center; }

.contenidosImagen__parrafo {
  font-size: 1.5rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400; }

.contenidosImagen__titulo {
  color: #232020;
  font-size: 3rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1800; }

/*--------Formato tablas------*/
.contenedorTabla {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.table-formato {
  background-image: url(../img/fondotabla.jpg);
  color: #ff920f;
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-collapse: collapse; }

th {
  text-align: center;
  border: 0.2rem solid; }

tr, td {
  border: 0.2rem solid;
  padding: 25px;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 2rem; }

/*------Pagina Fabrica-------*/
.caja {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.caja__contenido {
  display: grid;
  height: 300px;
  grid-template-columns: repeat(2, auto);
  background-color: #232020;
  border-radius: 15px; }

.caja__contenido--img {
  display: flex;
  justify-content: center;
  align-items: center; }

.caja__contenido--texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.tituloFab {
  color: #ff920f; }

.parrafoFab {
  color: blanchedalmond;
  grid-column: 2;
  text-align: center; }

.botonFab {
  padding: 0.2rem;
  border-color: #ff920f;
  background-color: #ff920f;
  border-radius: 0.2rem;
  cursor: pointer;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400; }

.botonFab:hover {
  border-color: #232020;
  background-color: blanchedalmond;
  text-decoration: none;
  color: #232020; }

.botonFab__link {
  text-decoration: none;
  font-size: 2rem;
  color: #232020;
  padding: 0.5rem 1rem; }

/*--Fabrica 1 y 2-- */
.tituloFabricas {
  color: #232020;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1400;
  text-align: center; }

/*--Galeria--*/
.contenidoImagenFab {
  display: grid;
  grid-template-rows: repeat(2, auto); }

.contenidoImagenFab__imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.contenidoImagenFab__titulo {
  grid-row: 1;
  margin: 10px; }

.contenidoImagenFab__img #fab1 {
  grid-column: 1; }

.contenidoImagenFab__img #fab2 {
  grid-column: 2; }

.contenidoImagenFab__img #fab3 {
  grid-column: 3; }

/*--Ubicacion--*/
.contenidoUbicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.contenidoUbicacion__Titulo {
  text-align: center;
  margin: 10px; }

.contenidoUbicación__Mapa {
  background: #ff920f;
  border-radius: 25px;
  width: 630px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center; }

.map {
  width: 600px;
  height: 450px; }

/*--Timeline--*/
.contenidoTitulo {
  text-align: center;
  margin: 10px; }

.contenidoTimeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

.contenidoTimeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #232020;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px; }

.contenidoTimeline__caja {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%; }

.contenidoTimeline__caja::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #232020;
  border: 4px solid #ff920f;
  top: 15px;
  border-radius: 50%;
  z-index: 1; }

.left {
  left: 0; }

.right {
  left: 50%; }

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #232020;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #232020; }

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #232020 transparent transparent; }

.right::after {
  left: -16px; }

.contenidoTimeline__texto {
  padding: 20px 30px;
  background-color: #232020;
  position: relative;
  border-radius: 6px; }

.contenidoTimeline__texto--titulo {
  color: #ff920f;
  font-size: 3.5rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700; }

.contenidoTimeline__texto--parrafo {
  color: blanchedalmond;
  font-size: 1.7rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200; }

/*------Pagina contacto-------*/
/*--Info--*/
.contactoContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  align-items: center; }

.contactoContainer__titulo {
  color: #ff920f;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1400;
  text-align: center; }

.contactoContainer__parrafo {
  font-size: 2rem; }

/*--Botones--*/
.contactoContainer__botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.botonContacto {
  padding: 0.2rem;
  border-color: #232020;
  background-color: #232020;
  border-radius: 0.2rem;
  cursor: pointer;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400; }

.botonContacto:hover {
  border-color: #232020;
  background-color: blanchedalmond;
  text-decoration: none;
  color: #232020; }

.botonContacto--link {
  text-decoration: none;
  font-size: 2rem;
  color: #ff920f;
  padding: 0.5rem 1rem; }

.botonContacto--link:active {
  color: #ff920f; }

/*-----Formato Imagenes-----*/
.formatoImagenInicio {
  width: 100%;
  max-width: 450px; }

.formatoLogo {
  width: 250px;
  display: inline-block; }

.contenidosImagen__img {
  width: 90%;
  border-radius: 4rem;
  max-width: 250px; }

.imgFab {
  grid-column: 1;
  width: 100%;
  border-radius: 4rem;
  max-width: 300px; }

.contenidoImagenFab__imgs #fab1, #fab2, #fab3, #fab4, #fab5, #fab6 {
  width: 90%;
  max-width: 300px;
  grid-row: 2;
  margin: 10px; }

/*-----FormatoPortadas-----*/
.title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px; }
  .title h1 {
    background-image: url(https://media.giphy.com/media/xTiTny1nYrk4cQUQ4U/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 10rem;
    line-height: .75;
    margin: 10px 0; }

/*--- Responsive----- */
/* 
    ##Dispositivo = Tablets, Ipads (vertical)
    ##Resolucion = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr); }
  .contenedorMain {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); }
  .contenidosImagenes {
    grid-column-start: auto;
    grid-column-end: auto; } }

/* 
    ##Dispositivo = Tablets de baja resolucion y telefnos Mobiles (horizontal)
    ##Resolucion = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /*--Portada--*/
  .title h1 {
    font-size: 5.5rem;
    text-align: center; }
  /*--Generales--*/
  h2 {
    font-size: 2.8rem; }
  p {
    font-size: 1.5rem; }
  /*-- MainTienda--*/
  .contenedor {
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-items: center; }
  .contenidosImagen {
    text-align: center; }
  .contenidosImagen__img {
    width: 70%; }
  .contenidosImagen__parrafo {
    font-size: 1.5rem; }
  .contenidosImagen__titulo {
    font-size: 2.5rem; }
  /*-- Footer--*/
  footer {
    grid-template-rows: auto auto auto;
    grid-template-columns: 320px;
    justify-content: center;
    align-items: center; }
  .footer__redes {
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    text-align: center; }
  .footer__seguinos {
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
    text-align: center; }
  .footer__seguino--parrafo {
    text-align: center; }
  .footer__seguinos h3 {
    text-align: center;
    font-size: 2.4rem; }
  .footer__contacto {
    grid-row: 3;
    grid-column: 1; }
  .footer__contacto h3 {
    text-align: center;
    font-size: 2.4rem; }
  .footer__seguinos--email {
    font-size: 1.6rem; }
  .boton {
    font-size: 1.6rem; }
  .footer__contacto #nombre {
    font-size: 1.6rem;
    margin-left: 0.2rem; }
  .footer__contacto #emailContacto {
    font-size: 1.6rem;
    margin-left: 0.2rem; }
  .footer__contacto textarea {
    font-size: 1.6rem; }
  /*-- Tabla nuestras cervezas--*/
  table {
    border: 0; }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem; }
  table tr {
    border-bottom: 0.3rem solid #ddd;
    display: block;
    margin-bottom: .625em; }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  table td:last-child {
    border-bottom: 0; }
  /*--Pagina fabrica*/
  .caja {
    width: 90%; }
  .caja__contenido {
    display: grid;
    height: 500px;
    grid-template-columns: auto;
    background-color: #232020;
    border-radius: 15px; }
  .imgFab {
    width: 95%; }
  .botonFab__link {
    font-size: 1.5rem; }
  /*--Pagina fabrica 1 y 2*/
  .contenidoImagenFab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem; }
  .contenidoImagenFab__img {
    width: 80%; }
  .contenidoUbicación__Mapa {
    width: 300px;
    height: 380px; }
  .map {
    width: 250px;
    height: 340px; }
  .contenidoTimeline::after {
    left: 31px; }
  .contenidoTimeline__caja {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
  .contenidoTimeline__caja ::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }
  .left::after, .right::after {
    left: 25px; }
  .right {
    left: 0%; }
  /*--Pagina contacto--*/
  .contactoContainer__parrafo {
    font-size: 1.3rem; }
  .contactoContainer__boton {
    font-size: 1.5rem; }
  .contactoContainer__boton--link {
    font-size: 1.5rem; } }

/* 
    ##Dispositivo = Mayoria de telefonos moviles (vertical)
    ##Resolucion = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /*--Portada--*/
  .title h1 {
    font-size: 5rem;
    text-align: center; }
  /*--Generales--*/
  h2 {
    font-size: 2.5rem; }
  p {
    font-size: 1.2rem; }
  /*-- MainTienda--*/
  .contenedor {
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-items: center; }
  .contenidosImagen {
    text-align: center; }
  .contenidosImagen__img {
    width: 50%;
    border-radius: 4rem; }
  .contenidosImagen__parrafo {
    font-size: 1.2rem; }
  .contenidosImagen__titulo {
    font-size: 2rem; }
  /*-- Footer--*/
  footer {
    grid-template-rows: auto auto auto;
    grid-template-columns: 320px;
    justify-content: center;
    align-items: center; }
  .footer__redes {
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    text-align: center; }
  .footer__seguinos {
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
    text-align: center; }
  .footer__seguino--parrafo {
    text-align: center; }
  .footer__seguinos h3 {
    text-align: center;
    font-size: 2rem; }
  .footer__contacto {
    grid-row: 3;
    grid-column: 1; }
  .footer__contacto h3 {
    text-align: center;
    font-size: 2rem; }
  .footer__seguinos--email {
    font-size: 1.5rem; }
  .boton {
    font-size: 1.5rem; }
  .footer__contacto #nombre {
    font-size: 1.5rem;
    margin-left: 0.2rem; }
  .footer__contacto #emailContacto {
    font-size: 1.2rem;
    margin-left: 0.2rem; }
  .footer__contacto textarea {
    font-size: 1.2rem; }
  /*-- Tabla nuestras cervezas--*/
  table {
    border: 0; }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem; }
  table tr {
    border-bottom: 0.3rem solid #ddd;
    display: block;
    margin-bottom: .625em; }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  table td:last-child {
    border-bottom: 0; }
  /*--Pagina fabrica*/
  .caja {
    width: 90%; }
  .caja__contenido {
    display: grid;
    height: 380px;
    grid-template-columns: auto;
    background-color: #232020;
    border-radius: 15px; }
  .imgFab {
    width: 90%; }
  .botonFab__link {
    font-size: 1.5rem; }
  /*--Pagina fabrica 1 y 2*/
  .contenidoImagenFab__imgs {
    flex-direction: column; }
  .contenidoImagenFab__imgs #fab1, #fab2, #fab3, #fab4, #fab5, #fab6 {
    width: 70%; }
  .contenidoUbicación__Mapa {
    width: 300px;
    height: 380px; }
  .map {
    width: 250px;
    height: 340px; }
  .contenidoTimeline::after {
    left: 31px; }
  .contenidoTimeline__caja {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
  .contenidoTimeline__caja ::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }
  .left::after, .right::after {
    left: 25px; }
  .right {
    left: 0%; }
  /*--Pagina contacto--*/
  .contactoContainer__parrafo {
    font-size: 1.3rem; }
  .contactoContainer__boton {
    font-size: 1.5rem; }
  .contactoContainer__boton--link {
    font-size: 1.5rem; } }
