@charset "UTF-8";
/*----------Pagina--------*/
html {
  font-size: 62.5%; }

body {
  background-color: blanchedalmond; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*--------Formatos letras generales--------*/
h2 {
  color: #b36f11;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1400;
  text-align: center; }

h3 {
  color: #b36f11;
  font-size: 3rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800; }

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 2rem; }

/*--------Page 404--------*/
.titulo {
  text-align: center;
  font-size: 3rem; }

.img404 {
  display: block;
  margin: auto; }

/*------Header-------*/
.header {
  overflow: hidden;
  background-color: #232020;
  padding: 3rem;
  display: flex;
  justify-content: center;
  justify-items: center; }

.header a {
  font-size: 1.8rem;
  color: peru;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block; }

.header a:hover {
  color: blanchedalmond; }

.dropdown-formato {
  background-color: #b36f11;
  border-radius: 1rem; }

.dropdown-menu a {
  color: #232020; }

.dropdown-menu a:hover {
  color: #b36f11; }

.active {
  color: blanchedalmond; }

/*------Footer-------*/
footer {
  background-image: linear-gradient(to bottom, #b36f11, #c6924b, #d9b57f, #ebd8b6, #fffaf0);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: auto auto auto auto; }

/*--Redes--*/
.footer__redes {
  grid-column: 2; }

.fa {
  padding: 20px;
  font-size: 1.8rem;
  width: 100%;
  max-width: 5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; }

.fa:hover {
  opacity: 0.7;
  color: white; }

.fa-twitter {
  background: #232020;
  color: white; }

.fa-facebook {
  background: #232020;
  color: white; }

.fa-instagram {
  background: #232020;
  color: white; }

/*--Formulario--*/
.footer__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 3; }

.footer__formulario__form {
  font-size: 2rem;
  color: black;
  max-width: 600px;
  padding: 0 2rem; }

.footer__formulario__titulo {
  text-align: center;
  padding: 2rem 0;
  color: #232020;
  font-size: 3.5rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1400; }

.boton {
  padding: 0.2rem;
  width: 30rem;
  border-color: #b36f11;
  border-radius: 25px 0px 25px 0px;
  background-color: #232020;
  color: #b36f11;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 auto; }

.boton:hover {
  border-color: #232020;
  background-color: blanchedalmond;
  color: black; }

.cajaNewletter {
  flex-direction: row; }

.cajaBotones {
  display: flex;
  flex-direction: column; }

/*----Formato pagina tienda----*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  grid-gap: 0.7rem; }

.contenedorHeader {
  grid-column-start: 1;
  grid-column-end: 4; }

.contenedorNav {
  grid-column-start: 1;
  grid-column-end: 4; }

.contenidoFooter {
  grid-column-start: 1;
  grid-column-end: 4; }

.contenedorMain {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto); }

.contenidoPortada {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 50%;
  max-width: 500px;
  margin: 0 auto; }

.contenidosImagen {
  text-align: center; }

.contenidosImagen__parrafo {
  font-size: 1.5rem;
  transform: translateX(2);
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400; }

.contenidosImagen__titulo {
  color: #232020;
  font-size: 3rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1800; }

/*------Pagina Fabrica-------*/
.caja {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

.tarjeta {
  background-color: #b36f11;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px; }

.tarjeta__titulo {
  color: #232020;
  font-size: 3.2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1400; }

.tarjeta__parrafo {
  line-height: 28px;
  font-size: 1.5rem; }

.botonFab {
  height: 60px;
  padding: 20px;
  background-color: blanchedalmond;
  color: #232020;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 20px;
  bottom: -25px; }

/*--Fabrica 1 y 2-- */
.tituloFabricas {
  color: #b36f11;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1400;
  text-align: center; }

/*--Ubicacion--*/
.contenidoUbicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.contenidoUbicacion__Titulo {
  color: #b36f11;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800; }

.contenidoUbicación__Mapa {
  background: #b36f11;
  border-radius: 25px;
  width: 630px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*--Galeria--*/
.contenidoImagenFab {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px 300px;
  align-items: center;
  justify-content: center; }

.contenidoImagenFab__titulo {
  color: #b36f11;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
  grid-column: 2; }

/*--Timeline--*/
.contenidoTimeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.contenidoTimeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px; }

.contenidoTimeline__titulo {
  color: #b36f11;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800; }

.contenidoTimeline__caja {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%; }

.contenidoTimeline__caja::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1; }

.left {
  left: 0; }

.right {
  left: 50%; }

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white; }

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent; }

.right::after {
  left: -16px; }

.contenidoTimeline__texto {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px; }

.contenidoTimeline__texto--titulo {
  color: #b36f11;
  font-size: 3.5rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700; }

.contenidoTimeline__texto--parrafo {
  color: black;
  font-size: 1.7rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200; }

/*------Pagina contacto-------*/
/*--Info--*/
.contactoContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  align-items: center; }

.contactoContainer__titulo {
  color: #b36f11;
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 1400;
  text-align: center; }

.contactoContainer__parrafo {
  font-size: 1.9rem; }

/*--Botones--*/
.contactoContainer__boton {
  padding: 0.2rem;
  width: 30rem;
  border-color: #b36f11;
  border-radius: 25px 0px 25px 0px;
  background-color: #232020;
  color: #b36f11;
  font-size: 1.5rem;
  cursor: pointer; }

.contactoContainer__boton:hover {
  border-color: #232020;
  background-color: blanchedalmond;
  color: black; }

.contactoContainer__boton--link {
  text-decoration: none;
  font-size: 1rem;
  color: peru;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block; }

/*-----Formato Imagenes-----*/
.formatoImagenInicio {
  border-radius: 4rem;
  width: 100%;
  max-width: 300px; }

.formatoLogo {
  width: 250px;
  display: inline-block; }

.contenidosImagen__img {
  width: 250px;
  border-radius: 4rem; }

.tarjeta__img {
  width: 100%;
  border-radius: 4rem;
  max-width: 300px;
  margin-left: 10px; }

.contenidoImagenFab__img {
  width: 100%;
  max-width: 300px;
  margin-left: 10px;
  grid-row: 2; }

/*-----FormatoPortadas-----*/
.formatoPortada {
  font-family: 'Barlow Condensed', sans-serif;
  color: #232020;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  border: 1px;
  background-color: #b36f11;
  margin: 0 0 25px;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  border: 2px solid #232020; }

.formatoCajaPortada {
  width: 40%;
  max-width: 500px;
  margin: 0 auto; }

/*--------Formato tablas------*/
table {
  color: #b36f11;
  border: 3px;
  font-size: 2rem;
  margin: auto; }

th {
  background-color: #232020;
  border: 1px solid; }

tr, td {
  border: 1px solid;
  padding: 25px; }

/*--- Responsive----- */
.containerMobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "box1" "box2" "box3";
  grid-gap: 1rem; }
  .containerMobile .box-1 {
    grid-area: box1; }
  .containerMobile .box-2 {
    grid-area: box2; }
  .containerMobile .box-3 {
    grid-area: box3;
    text-align: center; }

@media (min-width: 768px) {
  .header__nav--lista {
    flex-direction: row; }
    .header__nav--lista li {
      margin: 0 1rem; }
  .hijoInicio {
    flex-direction: row;
    justify-content: center; }
    .hijoInicio p {
      width: 90%; }
  .contenedor {
    grid-template-columns: repeat(3, 1fr); }
  .contenedorMain {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); }
  .contenidosImagenes {
    grid-column-start: auto;
    grid-column-end: auto; } }
