@import "colores";

/*------Header-------*/
.header {
  overflow: hidden;
  background-color: $marron-oscuro;
  padding: 1rem 1rem;
}

.header a {
  float: left;
  color: peru;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 25px;
  position: relative;
  border-radius: 0.4rem;
}

.header a:hover {
  color: white;
}

.header a.active {
  background-color: white;
  color: peru;
}

/*-- Logo--*/
.header__logo {
	display: block;
  max-width: 250px;
  padding: 1rem;
}

/*--Navegador--*/
.header__nav{
  display: block;
  position: relative;
}

.header__nav--lista {
  display:none;
	position:absolute;
	min-width:140px;
}

.header__nav--lista li:hover > ul {
  display:block;
}

.header__nav--lista ul{
  position:relative;  
}

.header__nav--lista ul li {
  right:-140px;
  top:0px;
}