@import "colores";

/*------Header-------*/
.header {
  overflow: hidden;
  background: rgb(35,32,32);
  background: linear-gradient(180deg, rgba(35,32,32,1) 89%, rgba(255,235,205,1) 97%);
  padding: 3rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.header a {
  font-size: 1.8rem;
  color: #ff920f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.header a:hover {
  color: #ffebcd;

}

.dropdown-formato {
  background-color: $marron-claro;
  border-radius: 1rem;
  text-decoration: none;
}

.dropdown-menu a {
  color: $marron-oscuro;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: $marron-claro;
}

.active {
  color: blanchedalmond;
}

.dropdown-item:hover {
  background-color: blanchedalmond;
}

.navbar-toggler {
  background-color: $marron-claro;
}