/*-----Formato Imagenes-----*/
$anchoImagen: 300px;

.formatoImagenInicio {
    width: 100%;
    max-width: $anchoImagen+150px;
}

.formatoLogo {
    width: ($anchoImagen/6)*5;
    display: inline-block;
}

.contenidosImagen__img {
    width: 90%;
    border-radius:4rem;
    max-width: ($anchoImagen/6)*5;
    
}

.imgFab {
    grid-column: 1;
    width:100%;
    border-radius:4rem;
    max-width: $anchoImagen+50;
}

.contenidoImagenFab__imgs #fab1, #fab2, #fab3, #fab4, #fab5, #fab6 {
    width:90%;
    max-width: $anchoImagen;
    grid-row: 2;
    margin:10px;
}