/*-----Formato Imagenes-----*/
$anchoImagen: 300px;

.formatoImagenInicio {
    width: 100%;
    max-width: $anchoImagen+150px;
}

.formatoLogo {
    width: ($anchoImagen/6)*5;
    display: inline-block;
}

.contenidosImagen__img {
    width: 100%;
    border-radius:4rem;
    max-width: ($anchoImagen/6)*5;
}

.tarjeta__img {
    width:100%;
    border-radius:4rem;
    max-width: $anchoImagen;
    margin-left: 10px;
}

.contenidoImagenFab__img {
    width:100%;
    max-width: $anchoImagen;
    margin-left: 10px;
    grid-row: 2;
}