@import "colores";

/*------Pagina contacto-------*/

/*--Info--*/
.contactoContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.contactoContainer__titulo {
    color: $marron-claro;
    font-size: 4rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 1400;
    text-align: center;
    margin: 10px;
}

.contactoContainer__parrafo {
    font-size: 2rem;
}

/*--Botones--*/

.contactoContainer__botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.botonContacto {
    padding: 0.2rem;
    border-color:$marron-oscuro;
    background-color: $marron-oscuro;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    margin: 10px;
}

.botonContacto:hover {
    border-color: $marron-oscuro; 
    background-color: blanchedalmond;
    text-decoration: none;
    color: $marron-oscuro;
}

.botonContacto--link{
    text-decoration: none;
    font-size: 2rem;
    color:$marron-claro;
    padding: 0.5rem 1rem;
}

.botonContacto--link:active {
    color:$marron-claro;

}
