@import "colores";

/*------Pagina contacto-------*/

/*--Info--*/
.contactoContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.contactoContainer__titulo {
    color: $marron-claro;
    font-size: 4rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 1400;
    text-align: center;

}

.contactoContainer__parrafo {
    font-size: 2rem;
}

/*--Botones--*/
.contactoContainer__boton {
    padding: 0.4rem;
    border-color:$marron-oscuro;
    background-color: $marron-claro;
    border-radius: 0.2rem;
    text-align: center;
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.contactoContainer__boton:hover {
        border-color: $marron-oscuro; 
        background-color: blanchedalmond;
        color: black;
}

.contactoContainer__boton--link{
    text-decoration: none;
    font-size: 2rem;
    color:$marron-oscuro;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}