/*------Pagina Fabrica-------*/

.caja {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.tarjeta {
	background-color: $marron-claro;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px; 
}

.tarjeta__titulo {
	color: $marron-oscuro;
    font-size: 3.2rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 1400;
}

.tarjeta__parrafo {
	line-height: 28px;
	font-size: 1.5rem;
}

.botonFab {
	height: 60px;
	padding: 20px;
	background-color: blanchedalmond;
	color: $marron-oscuro;
	display: inline-block;
	text-decoration: none;
    position: absolute;
	right: 20px;
	bottom: -25px;
}

/*--Fabrica 1 y 2-- */
.tituloFabricas{
	color: $marron-claro;
    font-size: ($tamañoLetra)*2;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 1400;
    text-align: center;

}
	/*--Ubicacion--*/
.contenidoUbicacion {
	display: flex ;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.contenidoUbicacion__Titulo {
	color: $marron-claro;
	font-size: 4rem;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 800;
}

.contenidoUbicación__Mapa {
	background: $marron-claro;
  	border-radius: 25px;
	width: 630px;
	height: 480px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

	/*--Galeria--*/
.contenidoImagenFab {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 50px 300px;
	align-items: center;
	justify-content: center;
}

.contenidoImagenFab__titulo {
	color: $marron-claro;
	font-size: 4rem;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 800;
	grid-column: 2;
}

	/*--Timeline--*/
.contenidoTimeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
	  
.contenidoTimeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.contenidoTimeline__titulo {
	color: $marron-claro;
	font-size: 4rem;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 800;
	
}
	  
.contenidoTimeline__caja {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
		width: 50%;
}
	  
.contenidoTimeline__caja::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
	
.left {
	left: 0;
}
	  
.right {
	left: 50%;
}
	  
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}
	  
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}
	  
.right::after {
	left: -16px;
}
	  
.contenidoTimeline__texto {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

.contenidoTimeline__texto--titulo {
	color: $marron-claro;
    font-size: 3.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}

.contenidoTimeline__texto--parrafo {
	color:black;
    font-size: 1.7rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
}