@import "colores";

/*----Formato pagina tienda----*/

.contenedor {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    justify-content: center;
    align-items: center;  
}

.contenidosImagen {
    text-align: center;
}
    
.contenidosImagen__parrafo {
    font-size: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;       
}
    
.contenidosImagen__titulo {
    color: $marron-oscuro;
    font-size: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 1800;
}


