@import "colores";

/*-----FormatoPortadas-----*/

.title {
	font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
    h1 {
        background-image: url(https://media.giphy.com/media/xTiTny1nYrk4cQUQ4U/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 10rem;
        line-height: .75;
        margin: 10px 0;
    }
}
