@import "colores";

/*--------Formato tablas------*/
table {
    color: $marron-claro;
    border: 3px ;
    font-size: 2rem;
    margin: auto;
}

th {
    background-color: $marron-oscuro;
    border: 1px solid;
}

tr, td {
    border: 1px solid;
    padding: 25px;
}

